<h1>All Artists</h1>
<p><%= link_to "New artist", new_artist_path %></p>
<ul>
  <%= @artists.map do |artist| %>
<p><%= artist.name %></p>
  <li><%= link_to artist.name, artist_path(artist)%></li>
<%= image_tag artist.image_path %>
<% end  %>
</ul>
